
/* @media(min-width:768px){
    .container1 {
        display: flex;
        
    }
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
  }

  body{
    background: url('civilStructure2.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
  }

.container1 {
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /* align-items:center */
    /* flex-direction: column; */
    /* flex:center; */
    /* justify-content: space-between; */
}

.container1 .title h1{
    color: #c5ecfd;
    text-align: center;
    margin-bottom: 25px;
  }



.container1 div{
    border:1px #ccc solid;
    padding: 10px

}

.box1 {
   display: flex;
   justify-content: space-around


}

.box1 .loadTypeButton:hover {
    
  }

.box2 {
    display: flex;
}

.box3 {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.calcButton {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
    font-weight: bold;
  }

.fe1 {
    border: none !important;
    padding: 0px !important
}

.fe2 {
    border: none !important;
    padding: 0px !important
}

.loadTypeButton {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
