
/* @media(min-width:768px){
    .container1 {
        display: flex;
        
    }
} */

.container1 {
    display: flex;
    flex-wrap: wrap;
    /* align-items:center */
    /* flex-direction: column; */
    /* flex:center; */
    /* justify-content: space-between; */
}



.container1 div{
    border:1px #ccc solid;
    padding: 10px

}

.box1 {
    flex:1;
    /* flex-basis: 10%; */
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 10%;

}

.box1 .loadTypeButton:hover {
    background-color: black;
    color: white;
    width: 100%;
  }

.box2 {
    flex:8;
    order: 3;
}

.box3 {
    flex:7;
}

.fe1 {
    border: none !important;
    padding: 0px !important
}

.fe2 {
    border: none !important;
    padding: 0px !important
}
.loadTypeButton {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.calcButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }